@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
  body {
    overflow-y: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa-images,
.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  color: #D8D8D8;
}

div:hover>.fa-facebook-f {
  color: #0766FF;
}

div:hover>.fa-twitter {
  color: #5DA9DD;
}

div:hover>.fa-instagram {
  color: #820FFF;
}

br {
  content: "";
  margin-bottom: 15px;
  display: block;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000)
}

.link-underline-gray {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#D8D8D8, #D8D8D8)
}


.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 100%
}

/* .h-full {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
} */

.img-full {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}